<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <div class="container">
  <blockquote>
  <p>“Thoughts come and go. Feelings come and go. Find out what it is that remains.”<br />
-Ramana Maharshi</p>
</blockquote>

<p>To be honest, nothing’s fancy here.<br />
This is a personal notepad to archive some random thoughts to build a tank, all opinions are my own. <br />
If you want to connect, drop me message at random[AT]sayno.cloud</p>

  {% include footer.html %}
  </div><!-- /.main -->
</body>
</html>
