---
layout: default
---

<blockquote>
  <p>“Thoughts come and go. Feelings come and go. Find out what it is that remains.”<br />
                                      -Ramana Maharshi</p>

</blockquote>

<p>To be honest, nothing’s fancy here.<br />
This is a personal notepad to archive some random thoughts to build a tank, all opinions are my own. <br />
If you want to connect, drop me message at random[AT]sayno.cloud</p>

<div class="pagination">
  {% if site.owner.linkedin %}
    <a href="{{ site.owner.linkedin }}" class="social-media-icons"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.owner.lastfm %}
    <a href="https://last.fm/user/{{ site.owner.lastfm }}" class="social-media-icons"><i class="fa fa-2x fa-lastfm-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.owner.twitter %}
    <a href="https://twitter.com/{{ site.owner.twitter }}" class="social-media-icons"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.owner.github %}
    <a href="{{ site.owner.github }}" class="social-media-icons"><i class="fa fa-2x fa-github-square" aria-hidden="true"></i></a>
  {% endif %}

</div>


